*.bak
.*.swp

scripts/local.sh
pentadactyl/pentadactyl/info/
x/do_not_lock
zsh/do_not_start_ssh_agent

vim/vim/.netrwhist
vim/vim/bundle
vim/vim/.init.vim-rplugin~

openbox/stats_conkyrc
openbox/time_conkyrc
openbox/rc.xml
