*.bak
.*.swp

scripts/local.sh
pentadactyl/pentadactyl/info/
x/do_not_lock
x/screensaver_4h
x/dpi144
x/dpi192
zsh/do_not_start_ssh_agent
fonts/.uuid

vim/vim/.netrwhist
vim/vim/bundle
vim/vim/.init.vim-rplugin~

openbox/stats_conkyrc
openbox/time_conkyrc
openbox/rc.xml
openbox/.backlight-state
openbox/.volume-state
