# vim and misc
vim/vim/.netrwhist
vim/vim/bundle
vim/vim/.init.vim-rplugin~
*.bak
.*.swp

# files meant to stay local
scripts/local.sh
x/dpi144
x/dpi168
x/dpi192
zsh/do_not_start_ssh_agent
openbox/.notification-string

# fonts
fonts/.uuid
# this file should be downloaded from https://github.com/samuelngs/apple-emoji-linux/releases
fonts/AppleColorEmoji.ttf
