/*
 * This CSS file is for Firefox's UI
 */

/* Hide the "title changed" blue glow on pinned tabs */
/* See https://support.mozilla.org/en-US/questions/1181537 */
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged] {
    background-image: none !important;
}

/*
 * Hide the 'add to bookmarks' star button included in the URL bar
 */
#star-button-box { display:none !important; }

/*
 * Make most backgrounds (about:home, loading tab) a dark solarized color
 * This is supposed to go with the 'Solarize Fox' theme:
 * https://addons.mozilla.org/en-US/firefox/addon/solarize-fox/
 */
.browserContainer { background-color: #155968 !important; }
.tabbrowser-tabpanels { background-color: #155968 !important; }
@-moz-document url(about:home) { * { background-color: #155968 !important; } }

/*
 * Disable F11 fullscreen animation
 */
#navigator-toolbox[fullscreenShouldAnimate] { transition: none !important; }
