/* Hide the "title changed" blue glow on pinned tabs */
/* See https://support.mozilla.org/en-US/questions/1181537 */
.tabbrowser-tab > .tab-stack > .tab-content[pinned][titlechanged] {
    background-image: none !important;
}

/* For sidebar tabs: hide the "title changed" blue glow on pinned tabs */
#sidebar-box[sidebarcommand="_0ad88674-2b41-4cfb-99e3-e206c74a0076_-sidebar-action"] #sidebar-header {
    visibility: collapse;
}

/* For sidebar tabs: hide tab search menu on top */
#topmenu {
    display: none;
}

/* Hide horizontal default Firefox tabs */
/*#tabbrowser-tabs {
    visibility: collapse;
}*/

/* CSS tweaks to copy-paste in Tab Center Redux preferences */
/*
    #topmenu {
        display: none;
    }

    .tab.pinned.wants-attention {
        background-image: none !important;
    }

    .tab-loading-burst {
        display: none;
    }
*/

/*
 * Make most backgrounds (about:home, loading tab) a dark solarized color
 * This is supposed to go with the 'Solarize Fox' theme:
 * https://addons.mozilla.org/en-US/firefox/addon/solarize-fox/
 */
.browserContainer { background-color: #155968 !important; }
.tabbrowser-tabpanels { background-color: #155968 !important; }
@-moz-document url(about:home) { * { background-color: #155968 !important; } }

/*
 * Disable F11 fullscreen animation
 */
#navigator-toolbox[fullscreenShouldAnimate] { transition: none !important; }
