<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3">
		<item label="Calendar (Ctrl-Alt-C)">
			<action name="Execute">
				<command>
					gsimplecal
				</command>
			</action>
		</item>
		<item label="Calculator (Ctrl-Alt-Y)">
			<action name="Execute">
				<command>
					qalculate
				</command>
			</action>
		</item>
		<item label="Screenshot (Ctrl-Alt-S)">
			<action name="Execute">
				<command>
					gnome-screenshot --interactive
				</command>
			</action>
		</item>
		<separator />
		<item label="Reconfigure Openbox">
			<action name="Execute">
				<command>
					bash -c "openbox --reconfigure &amp;&amp; ~/.paps/openbox/publish-notification.sh '%{c}O. reconfigured'"
				</command>
			</action>
		</item>
		<item label="Reconfigure X">
			<action name="Execute">
				<command>
					bash -c "~/.paps/openbox/xcfg.sh &amp;&amp; ~/.paps/openbox/publish-notification.sh '%{c}X reconfigured'"
				</command>
			</action>
		</item>
		<separator />
		<item label="Lock (Ctrl-Alt-L)">
			<action name="Execute">
				<command>
					~/.paps/openbox/lock.sh
				</command>
			</action>
		</item>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
