alignment top_left
gap_y 185
gap_x 1

background no
out_to_x yes
out_to_console no
out_to_stderr no
update_interval 2.0
total_run_times 0
font -misc-termsyn-medium-r-normal--11-79-100-100-c-60-iso8859-1
default_color adadad
draw_graph_borders yes
format_human_readable yes
use_spacer right
max_text_width 0
own_window yes
own_window_type override
double_buffer yes
if_up_strictness address
default_color adadad
color1 444444
color2 adadad
short_units yes

TEXT
${goto 10}${image $HOME/.paps/openbox/icons/cpu.png -p 0,0}
${cpu}%
${color1}${cpugraph cpu0 10,30 666666 adadad -t}${color2}
${freq_g}



${image $HOME/.paps/openbox/icons/mem.png -p 0,77}
${mem}
${color1}${memgraph 10,30 666666 adadad -t}${color2}
${memmax}



${image $HOME/.paps/openbox/icons/empty.png -p 0,154}
${swap}
${color1}${swapbar 10,30 666666 adadad -t}${color2}
${swapmax}



${image $HOME/.paps/openbox/icons/net_down_01.png -p 0,231}
${downspeedf enp3s0}
${color1}${downspeedgraph enp3s0 10,30 666666 adadad -t}${color2}



${image $HOME/.paps/openbox/icons/net_up_02.png -p 0,297}
${upspeedf enp3s0}
${color1}${upspeedgraph enp3s0 10,30 666666 adadad -t}${color2}



Ping
${tcp_ping 8.8.8.8 53}



#${image $HOME/.paps/openbox/icons/bat_full_01.png -p 0,418}
#${battery_short BAT1}
#${battery_time BAT1}
#${exec cat /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor}
