alignment top_left
gap_y 1
gap_x 1

background no
out_to_x yes
out_to_console no
out_to_stderr no
update_interval 1.0
total_run_times 0
font -*-terminus-*-*-*-*-22-*-*-*-*-*-*
default_color adadad
color1 555555
color2 adadad
draw_graph_borders yes
format_human_readable yes
use_spacer right
max_text_width 0
default_color adadad
own_window yes
own_window_type override
double_buffer yes

TEXT
${time %H}
${time %M}
${color1}${time %S}${color2}

${time %a}
${time %b}
${time %d}
